html {
  background-image: url("assets/paris.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

:root {
  --base-bg: #ffc600;
  --base-col: #ffffff;
  --spacingX: 0px;
  --spacingY: 10px;
  --blur: 0px;
  --width: 30%;
}

img {
  position: fixed;
  width: 30%;
  left: 20vh;
  margin-left: var(--spacingX);
  margin-top: var(--spacingY);
  width: var(--width);
  filter: blur(var(--blur));
}

h2 {
  background: var(--base-bg);
  color: var(--base-col);
}
