.key {
  border: 2px solid white;
  border-radius: 5px;
  /* width: 20px; */
  padding: 30px;
  display: inline;
  margin: 0 3px;
  background-color: rgba(9, 87, 88, 0.9);
  transition: all 0.07s;
}

.drumkit {
  padding: 250px 150px;
}

body {
  background-image: url("background.png");
  background-size: cover;
}

div.key {
  color: white;
  font-size: 20px;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: -100px;
  color: white;
}
