html {
  background-image: url("background.jpg");
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-bottom: 20px;
}

.key {
  border: 2px solid white;
  border-radius: 5px;
  background-color: rgba(9, 87, 88, 0.9);
  transition: all 0.37s ease;

  padding: 10px;
  margin: 10px;
}

div.key {
  color: white;
  font-size: 20px;
}

.titre {
  text-align: center;
  color: white;
  padding-top: 50px;
}

.playing {
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

.corps {
  width: 100%;
}

h1 {
  font-size: 40px;
}
kbd {
  display: block;
}

.wave2 {
  padding-left: 100px;
}

.wave-visible {
  visibility: hidden;
}
